<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a>
                    Option Menu
                </a>
            </li>
            <li>
                <a id="HomeButton" href="#/" ng-controller="labelController" ng-click="destroyLabels()">Home</a>
            </li>
            <li>
                <a id="DeleteButton" ng-click="delete()" ng-controller="deleteController" href="#/" class="hidden">Delete</a>
            </li>
            <li>
                <a href="#" class="hidden">Download</a>
            </li>
            <hr />
            <li>
                <a ng-click='logout()' ng-controller="logoutController">Logout</a>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <div id="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="#menu-toggle" class="btn btn-default navbar-brand" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                    <!--<a class="navbar-brand" href="#">test</a>-->
                    <a class="navbar-brand" href="#">Paperless Office</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <form id="search-form" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" id="search-bar" class="form-control" placeholder="Search">
                    </div>
                </form>
                <!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!-- Page Content -->
        <div id="page-content-wrapper" ng-controller="testCTRL" class="row">
            <!--<button ng-click="testfunction()">test function</button>-->
            <div id="PDFDocumentWrapper" class="row col-md-10">


                <!-- need to col-md-10 to pdf document wrapper -->
                <!--<button id="loaddocuments">load documents</button>-->
                <!--<a href="/web/viewer.html?file=
                    %3A%2F%2Flocalhost%3A3000%2Fapi%2FgetDocumentURL%2FBedrijven.pdf" >View pfd</a>-->
                <iframe frameborder="0" name="documentFrame" id="DocumentIFrame"></iframe>
                <div id="Canvas-Document-Holder"></div>
            </div>
            <div id="SuggestedDocumentSection" class="col-md-2">
                <div id="labels" ng-controller="labelController">
                    <input ng-model="newLabel" placeholder="Add label" disallow-spaces/>
                    <span id="addLabelButton" ng-click="addLabel()" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    <div id="labelSection" ng-style="labelSectionStyle">

                    </div>
                    <a ng-click="showLabels()">{{buttonText}}</a>
                </div>
            </div>

            <!-- Upload button Content-->
            <div id="upload" class="navbar-fixed-bottom btn-block btn-lg" ng-controller="uploadController">
                <p>Upload something?</p>
                <div id="upload-wrapper">
                    <div id="upload-zone-wrapper" ng-class="collapseZone" ng-style="myStyle">
                        <label id="fileInput" class="btn btn-block btn-file">
                            Click here to upload a file.
                            <input type="file" id="inputUpload" multiple name="myFile" accept=".pdf, .png, .jpeg, .jpg" onchange="angular.element(this).scope().addFile(this.files)" />
                        </label>
                    </div>

                    <div id="upload-details-wrapper" ng-class="collapseDetails">
                        <p>File name:</p>
                        <input id="docName" type="text" ng-model="docName" ng-style="myStyle" />
                        <p>Labels:</p>
                        <textarea id="docLabels" name="textArea" placeholder="Seperate labels with '#'" ng-model="docLabels" disallow-spaces></textarea>
                    </div>
                </div>
                <div id="previewArea">
                    <div id="liquid" class="liquid" style="height: 129px; overflow: hidden;">
                        <span class="previous"></span>
                        <div class="wrapper" style="height: 129px; overflow: hidden; float: left; width: 1755px;">
                            <ul id="previewDocuments" style="height: 129px; float: left; margin: 0px; padding: 0px; display: block;"></ul>
                        </div>
                        <span class="next"></span>
                        <button type="submit" id="submit" ng-click="upload()" class="pull-right">
                            <span  class="glyphicon glyphicon glyphicon-remove-circle upload-noDocuments"></span>
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>


<!-- /#wrapper -->


<!--jquery scripts-->

<script src="Scripts/PDFViewer.js"></script>
<script src="Scripts/sidebar.js"></script>
<script src="Scripts/uploadButton.js"></script>