html, body {
}
h1 {
	font-size:28px;
	font-weight:bold;
	text-shadow: 2px 3px 5px #C2C7C2;
	margin-bottom:26px;
}

span.remove-preview-icon{
    color: #41393E;
    float: right;
    top: 10px;
    left: 10px;
}
a {
	color:#19510E;
	text-decoration:none;
	font-weight:bold;
	font-size:22px;
    cursor: pointer;
}

.sac {
	display:block;
	width:100%;
	text-align:right;
	font-style:italic;
	margin-bottom:45px;
	font-size:12px;
}

pre, blockquote {
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	background-color:#DFE7DD;
	margin:15px 0;
	padding:15px;
}

pre, code {
	font-family:monospace;
	font-size:12px;
}
#search-form {
    width: 80%;
    border: none;
    box-shadow: none;
}
#DeleteAccount li{

}
#DeleteAccount{
    color:red;

}
#DocumentIFrame {
    width: 100%;
    height: 90vh;
}

#page-content-wrapper {
    padding: 0px;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -99;
}

.document-identifier{
    display:none;
        position: absolute;
    top: 50%;
     left: 50%; 
    /* color: blue; */
    transform: translateY(-50%) translateX(-50%);
}

.Canvas-Document:hover {
    background:rgba(0,0,0,0.7);
}

.Canvas-Document:hover .document-identifier{
    display:inline;
    color:white;
}


.Canvas-Document {
    position: relative;
    width: 306px;
    height: 396px;
    margin: 0 2%;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 7px 7px 22px -4px rgba(69,68,69,1);
    -moz-box-shadow: 7px 7px 22px -4px rgba(69,68,69,1);
    box-shadow: 7px 7px 22px -4px rgba(69,68,69,1);
    margin-top: 3%;
}

#search-bar {
    width: 300px;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    float: right;
}

.form-group, form {
    width: 100%;
}

#search-bar:focus {
    width: 100%;
}


@media(max-width: 768px) {
    #search-form {
        width: auto;
        padding-top: 0px;
        margin-top: 0px;
    }

    body {
        padding: 75px;
    }
}

#upload.toggled {
    margin-left: 250px;
}

#upload {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: grey;
    text-align: center;
    height: 5%; 
    border-radius: 0;
}

#upload p {
    height: 100%;
}

#upload.uploadToggled {
    height: 50%;
}

#upload.uploadToggled  p {
    height: 5%;
    line-height: 1;
}
#uploading-text{
    margin-top:-10px;
}
#loading-bar .bar{
      position: relative;
}
#loading-bar .bar,
#loading-bar .peg {

  height:10px;
  
}
#loading-bar-spinner {

    position:relative;
}

#upload-wrapper {
    height: 50%;
}

#upload-zone-wrapper {
    border: dashed thin;
    border-color: gray;
    background-color: darkgrey; 
    height: 100%;
}

#fileInput {
    height: 100%;
     display: flex;
    align-items: center;
    justify-content: center
}

#fileInput input {
    display: none;
    height: 100%;
    width: 100%;
}

#submit {
    height: 10%;
    /*margin-bottom: 0.5%;*/
    margin-top:-20px;
    background: transparent;
    border: none;
}

#submit span {
    font-size: 2em;
}
.upload-noDocuments{
    
    color:gray;
    display:none;
}
.upload-error{
    color:red;
    display:block;
}
.upload-hasDocuments{
    color:yellowgreen;
    display:block;

}
.upload-succes{
    color:lawngreen;
    display:block;

}
.upload-progress{
    color:orange;
    display:block;

}

#upload-details-wrapper input {
    width: 100%;
    margin-bottom: 1%;
}

#upload-details-wrapper {
    height: 100%;
}

#docLabels {
    height: 70%;
    width: 100%;
}

#labelSection > span {
    padding: 2.5px 5px 2.5px 5px;
    display: inline-block;
    border: solid 1px black;
    background-color: gainsboro;
    margin: 0 1px 1px 1px;
}

#labelSection > span > span {
    font-size: x-small;
    /*height: 15px;
    vertical-align: middle;*/
    margin-right: 4px;
    cursor: pointer;
}

#labelSection > span > span:hover {
    background: lightgray;
}

#labelSection {
    overflow: hidden;
    max-height: 27px;
    margin-top: 5px;
}

#PDFDocumentWrapper {
    padding: 0;
    margin: 0;
}

#labels a {
	color: black;
	font-size: 14px;
    
}

#labels input {
    padding: 0 7px 0 7px;
    margin-top: 5px;
    border: none;
    border-bottom: solid black 1px;
    width: 90%;
}

#addLabelButton {
    width: 7%;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.glyphicon-search {
      pointer-events: all;
      cursor: pointer;
}